html {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: black !important;
    overflow-x: hidden;
}
  

#playerContainer {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    
    width: 100vw;
    height: 99vh;
}

.main-video-container {
    background-color: red;
    position: absolute;
    border: 1px solid darkred;
    width: 100%;

    z-index: 0;
}

.sub-video-container {
    background-color: blue;
    position: absolute;

    border: 1px solid darkblue;

    overflow: hidden;

    z-index: 1;
}
.sub-video-container.sub-minimized .sub-container-buttons{
    visibility: hidden;
}

#controlsContainer {
    position: absolute;
    background-color: gray;
    bottom: 0;
    width: 100%;
    height: 3rem;
    z-index: 5;
}

.video-16-9-container {
    width: 100%;
    height: 100%;
    position: absolute; /* If you want text inside of it */

    z-index: 0;
}

.video-16-9 {
    position: absolute;
    background-color: lime;
    border: 1px solid limegreen;
}

.centered-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.container-top-right-buttons {
    position: absolute;
    top: 0px;
    right: 0px;
}
.container-bottom-right-buttons {
    position: absolute;
    bottom: 0px;
    right: 0px;
}


.sub-container-buttons {
    margin: 0;
    width: 2rem;
    height: 2rem;
}

#subMoveBtn {
    width: 28%;
    height: 50%;
}