html {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: black !important;
    overflow-x: hidden;
}

#fullContainer {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#playerContainer {
    position: absolute;
    left: 0px;
    top: 0px;

    margin: 0;
    padding: 0;

    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;

    width: 100%;
    height: 100%;

    z-index: 0;
}
#playerContainer.chat-opened {
    width: calc(100% - 23rem);
}

#chatBtn {
    position: absolute;

    transform: rotate(270deg);

    top: 0.5rem;
    right: 0.5rem;

    width: 2rem;
    height: 2rem;
}
#chatBtn.chat-opened {
    left: calc(100% - 22.5rem);
    transform: rotate(90deg);
}

#chatContainer {
    position: absolute;
    
    width: 0px;

    top: 0px;
    right: 0px;

    height: 100%;
    overflow: hidden;

    z-index: 1;
}
#chatContainer.chat-opened {
    width: 23rem;
}
#chat_embed {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-video-container {
    position: absolute;
    
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    z-index: 10000;
}

.sub-video-container {
    position: absolute;

    overflow: hidden;

    z-index: 20000;
}
.tw-video-container {
    background-color: darkslateblue;
    border: 1px solid darkslateblue;
    background-image: url(img/sombra_pattern.png);
    background-repeat: repeat;
}
.yt-video-container {
    background-color: darkred;
    border: 1px solid darkred;
    background-image: url(img/emp_pattern.png);
    background-repeat: repeat;
}

.sub-video-container.sub-minimized .sub-container-buttons{
    visibility: hidden;
}


.mid-screen-controls {
    z-index: 15000;
}

.main-controls {
    z-index: 15000;
}

#controlsContainer {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 2rem;
    
    background-color: gray;
    opacity: 0.95;
}

.main-buttons-group {
    position: absolute;
    height: 100%;
}
.left-main-buttons {
    left: 0.5rem;
}
.center-main-buttons {
    left: 50%;
    transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}
.right-main-buttons {
    right: 0.5rem;
}
.main-controls-buttons {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}
.middle-controls-buttons-bg {
    margin: -7px -11px;
    width: calc(100% + 14px);
    height: calc(100% + 6px);
    border-radius: 15%;
    opacity: 1;
    background-color: lime;
    border: 4px solid limegreen;
}
.main-controls-buttons-bg {
    margin: 5%;
    width: calc(90% - 6px);
    height: calc(90% - 6px);

    border-radius: 15%;
    opacity: 0.4;
    background-color: lime;
    border: 3px solid limegreen
}
.yt-button-bg {
    background-color: red;
    border-color: crimson;
}
.tw-button-bg {
    background-color: blueviolet; 
    border-color: purple;
}

.controls-hidden .main-controls{
    display: none !important;
}
.controls-hidden .sub-controls{
    display: none !important;
}

#syncDelayDisplay {
    top: -55%;
    display: inline-block;
    height: 100%;
    width: 10rem;
    background-color: lightgray;
}


.video-16-9-container {
    width: 100%;
    height: 100%;
    position: absolute; /* If you want text inside of it */
}

.video-16-9 {
    position: absolute;
}

.centered-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
}


#subControlsContainer {
    position: relative;
    width: 100%;
    height: 100%;

    z-index: 50000;
}
.container-top-right-buttons {
    position: absolute;
    top: 0px;
    right: 0px;
}
.container-bottom-right-buttons {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.sub-container-buttons {
    margin: 0;
    width: 2rem;
    height: 2rem;

    z-index: 25000;
}

#midScreenControlsContainer {
    z-index: 40000;
}
.mid-screen-btns {
    width: 12rem;
    height: 12rem;
}

#moveBtnContainer {
    border: 1px solid red;
}
#moveBtnContainer:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#subMoveBtn {
    position: absolute;
    width: 100%;
    height: 100%;
}

.iframe-container {
    width: 100%;
    height: 100%;
}
.iframe-container iframe {
    width: 100%;
    height: 100%;
}

.screen-saver {
    width: 100%;
    height: 100%;
    
    opacity: 0;

    position: absolute;
    top: 0px;

    z-index: 20001;
}
.paused .screen-saver {
    opacity: 0.99;
}
.tw-video-container .screen-saver {
    background-color: #322052;
}
.yt-video-container .screen-saver {
    background-color: #500;
}
/* buttons */
.control-buttons {
    position: relative;

    opacity: 0.9;

    background-size: cover;
    
    text-shadow: 1px 1px 2px #1E6900;
    color: red;
    background-color: transparent;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
}
.control-buttons .iconify {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
}

.sub-controls-buttons {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

#subResizeBtn {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0px;
    right: 0px;
}
#subResizeBtn .iconify {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0px;
    right: 0px;

    transform: none !important;
}

.loaded .loading-icon {
    visibility: hidden;
}

.loader {
    animation:spin 1s infinite linear;
    border:solid 0.15rem transparent;
    border-radius:50%;
    border-right-color:#f00;
    border-top-color:#fff;
    box-sizing:border-box;
    height: 90%;
    left: 5%;
    position: absolute;
    top: 5%;
    width: 90%;
    z-index:1;
}
.loader:before {
    animation:spin 3s infinite linear;
    border:solid 0.15rem transparent;
    border-radius:50%;
    border-right-color:#fff;
    border-top-color:#6441a5;
    box-sizing:border-box;
    content:"";
    height: 70%;
    left:15%;
    position:absolute;
    top:15%;
    width: 70%;
}
.loader:after {
    animation:spin 5s infinite linear;
    border:solid 0.15rem transparent;
    border-radius:50%;
    border-right-color: #fff;
    border-top-color: limegreen;
    box-sizing:border-box;
    content:"";
    height: 60%;
    left: 20%;
    position:absolute;
    top: 20%;
    width: 60%;
}
  
  
  @keyframes spin {
    100% {
      transform:rotate(360deg);
    }
  }

.loading .loaded-icon {
    visibility: hidden;
}

.paused .pause-icon {
    visibility: hidden;
}
.playing .play-icon {
    visibility: hidden;
}
.playing #midScreenControlsContainer {
    visibility: hidden;
}

.volume-btn-container {
    width: 100%;
    height: 100%;
}
.volume-control-block {
    position: absolute;
    left: 0px;
    bottom: 2rem;
    width: 100%;
    height: 400%;

    border-radius: 0.25rem 0.25rem 0 0;
    
    background-color: gray;
    opacity: 0.95;
}
.volume-control-block.hidden {
    visibility: hidden;
}
.volume-control-block input {
    position: relative;
    width: 100%;
    top: 25%;
    height: 50%;
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
}

.volume-icon {
    visibility: hidden;
}
.muted .vmut-icon {
    visibility: visible;
}
.muted .vlow-icon {
    visibility: hidden !important;
}
.muted .vhig-icon {
    visibility: hidden !important;
}

.vlow .vlow-icon {
    visibility: visible;
}
.vhig .vhig-icon {
    visibility: visible;
}

.volume-up-btn {
    background-color: darkgrey;
    position: absolute;

    border-radius: 0.25rem;

    top: 0.5rem;
    left: 0.5rem;

    width: 50%;
    padding-top: 50%;
}
.volume-dn-btn {
    background-color: darkgrey;
    position: absolute;

    border-radius: 0.25rem;

    bottom: 0.5rem;
    left: 0.5rem;

    width: 50%;
    padding-top: 50%;
}

.volume-small-btn-icon {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}