html {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: black !important;
    overflow-x: hidden;
}

#fullContainer {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#playerContainer {
    position: absolute;
    left: 0px;
    top: 0px;

    margin: 0;
    padding: 0;

    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    
    width: calc(100% - 30%);
    height: 100%;
}

#chatContainer {
    position: absolute;
    
    top: 0px;
    right: 0px;

    width: 30%;
    height: 100%;
    overflow: hidden;
}
#chat_embed {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-video-container {
    position: absolute;
    
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    z-index: 10000;
}

.sub-video-container {
    position: absolute;

    overflow: hidden;

    z-index: 20000;
}
.tw-video-container {
    background-color: darkslateblue;
    border: 1px solid darkslateblue;
    background-image: url(img/sombra_pattern.png);
    background-repeat: repeat;
}
.yt-video-container {
    background-color: darkred;
    border: 1px solid darkred;
    background-image: url(img/emp_pattern.png);
    background-repeat: repeat;
}

.sub-video-container.sub-minimized .sub-container-buttons{
    visibility: hidden;
}

#controlsContainer {
    position: absolute;
    background-color: gray;
    bottom: 0;
    width: 100%;
    height: 3rem;
    z-index: 30000;
}

.video-16-9-container {
    width: 100%;
    height: 100%;
    position: absolute; /* If you want text inside of it */
}

.video-16-9 {
    position: absolute;
}

.centered-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


#subControlsContainer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 30000;
}
.container-top-right-buttons {
    position: absolute;
    top: 0px;
    right: 0px;
}
.container-bottom-right-buttons {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.sub-container-buttons {
    margin: 0;
    width: 2rem;
    height: 2rem;
}

#moveBtnContainer {
    border: 1px solid red;
}
#moveBtnContainer:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#subMoveBtn {
    position: absolute;
    width: 100%;
    height: 100%;
}

.iframe-container {
    width: 100%;
    height: 100%;
}
.iframe-container iframe {
    width: 100%;
    height: 100%;
}

.screen-saver {
    width: 100%;
    height: 100%;

    background-color: mediumpurple;
    opacity: 0.1;

    position: absolute;

    z-index: 29999;
}